<!doctype html>
<html lang="en-US">
  <head>
    <title>Nest</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/franken-ui@2.1.2/dist/css/core.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/franken-ui@2.1.2/dist/css/utilities.min.css"
/>

    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90'>📦</text></svg>"
    >

    {% block head %}

    {% endblock %}
  </head>
  <body>
    {% block body -%}
    {%- endblock %}
  </body>
</html>
